#logo {font-size: 30pt;}
div footer #copyright {font-size:10pt;font-family:'Courier New', Courier, monospace;}
.booklist ul li {width: 90%; height: 90%;font-size: 9pt;}
.booklist ul li img {width: 100px; height: 120px;}
.booklist_all ul li {width: 90%; height: 90%;font-size: 9pt;}
.booklist_all ul li img {width: 100px; height: 120px;}
.recommand_books ul li {width: 90%; height: 90%;font-size: 9pt;}
.recommand_books ul li img {width: 100px; height: 120px;}
#order table {width: 90%; height: auto;}
#order form, #login form {font-size: 10pt;}
