html a {text-decoration: none;}
#main-menu {background-color: aqua;}
.bookbackground {background-image : url('images/cloud.jpg'); width: auto;height: auto;overflow: hidden;}
.bookbackground_all {background-image : url('images/cloud.jpg'); width: auto;height: auto;}
.booklist{margin-left:10pt; width: 90%; height: 450px; border-color: rgb(127, 200, 255);border-radius: 2%;border-style: solid;border-width: medium;}
.booklist-musiclist-aerialview {margin-left:10pt; width: 90%; height: 450px; border-color: rgb(127, 200, 255);border-radius: 2%;border-style: solid;border-width: medium;}
.head {font-weight: bold;}
body#order {background-color: rgb(203, 205, 205);}
#order table {border:1px solid rgb(139, 139, 139); border-collapse: collapse; margin-top: 5pt;}
#order table th {border:1px solid rgb(139, 139, 139); padding: 5pt;}
#order table td {border:1px solid rgb(139, 139, 139); padding: 5pt;}
#order table tr {border:1px solid rgb(139, 139, 139); padding: 5pt;}
#order input {background-color: #ffffff00;color: blue;border-color: rgb(139, 139, 139);border-style: solid;}
body#signup {background-color: rgb(203, 205, 205);}
body#login {background-color: rgb(203, 205, 205);}
#musicbackground {background-image : url('images/aerialview.jpg'); width: auto;height: auto}
.recommand_books {margin-left:10pt; width: 90%; height: 450px; border-color: rgb(127, 200, 255);border-radius: 2%;border-style: solid;border-width: medium;}
.booklist_all {margin-left:10pt; width: 90%; height: auto; border-color: rgb(127, 200, 255);border-radius: 2%;border-style: solid;border-width: medium;}