.wrap {margin: 0 auto;}
.right {position: absolute;right: 0%;}
#main-menu {list-style: none; padding-top: 15px;padding-bottom: 15px; margin-top: 10px;margin-bottom: 10px;}
#main-menu li { display: inline; padding-right: 10pt;}
div#content article {float: left;}
div#content aside {float: right; }
.clearfix::after {content: ""; clear: both; display: table;}
footer {margin-top: 10pt;}
div footer #copyright { float: left;padding-top: 5pt;}
div footer #SNS {float:right; }
.booklist {padding:10pt;}
.booklist ul {display: grid;
    grid-template-columns: repeat(3, 1fr); 
    list-style-type: none; padding-top: 0%;gap: 10px;}
.booklist ul li {padding-bottom: 10pt;}
.booklist_all {padding:10pt;}
.booklist_all ul {display: grid;
    grid-template-columns: repeat(3, 1fr); 
    list-style-type: none; padding-top: 0%;gap: 10px;}
#order {margin: 20pt;}
#order table td {text-align: center;vertical-align: middle}
#order table th {text-align: center;vertical-align: middle}
#order table tr {text-align: center;vertical-align: middle}
#login form {margin: 20pt;}
#login .field {display: inline-block; width: 100px;}
#login_button {margin-left: 105px;}
li#video {display: inline-block;}
.booklist-musiclist-aerialview ul li{list-style-type: none;}
.booklist-musiclist-aerialview {padding: 10pt;}
.recommand_books {padding:10pt;}
.recommand_books ul{display: grid;
    grid-template-columns: repeat(2, 1fr); 
    list-style-type: none; padding-top: 0%;gap: 10px;}